<!doctype html>
<html lang="uk">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="/js/dompurify/purify.min.js"></script>
    </head>
    <body>
        <header class="page-header">
            <h1>Блогик</h1>
            <nav class="nav-panel">
                 <a href="/">Переглянути</a>
                 <a href="/post">Створити</a>
            </nav>
        </header>
