:root {
    --body: #3C6681;
    --link: #ff0000;

    --header: #a4cfea;
    --header-text: #131313;

    --footer: #2a4251;
    --footer-text: #ffffff;

    --post: #BFD2DE;
    --post-text: #232323;

    --button: #F0F5F2;
    --button-sel: #82e8b5;
    --button-text: #353535;

    --button-imp: #f6670d;
    --button-imp-sel: #fa995c;
    --button-imp-text: #ffffff;

    --textarea: #F0F5F2;
    --textarea-text: #2f2f2f;
    --textarea-border: #c6c6c6;
    --textarea-border-sel: #ff6200;
}

body {
    background: var(--body);
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--link);
    text-decoration: none;
    font-weight: 800;
}

.page-header {
    background: var(--header);
    color: var(--header-text);

    margin: 0;
    padding: 5px 0;

    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.page-header a {
    text-decoration: none;
}

.page-header a h1 {
    margin: 0;
    padding: 5px 15px;

    color: var(--header-text);

    font-size: 2.0em;
    font-weight: lighter;
}

.page-header a img {
    margin: 10px 15px;
    height: 75px;
}

.page-header .nav-panel {
    margin: auto 0;
    padding: 0 15px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px 10px;
}

@media screen and (max-width: 650px) {
    .page-header, .page-header .nav-panel {
        flex-flow: column nowrap;
        align-items: stretch;
    }
}

.page-header .nav-panel a {
    margin: 0;
    padding: 10px 20px;

    background: var(--button);
    color: var(--button-text);

    border-radius: 25px;
    text-decoration: none;
    font-size: 1.25em;
    transition-duration: 0.25s;
}

.page-header .nav-panel a:hover {
    background: var(--button-sel);
}

.article {
    margin: 20px auto;
    padding: 0 15px;

    background: var(--post);
    color: var(--post-text);

    width: 80%;
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
}

.article section {
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.article section h3 {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 650px) {
    .article {
        width: auto;
        margin: 20px;
    }
}

.article form {
    margin: 0;
    padding: 20px 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 25px;
}

.article .field {
    margin: 0;
    padding: 5px;

    background: var(--textarea);
    color: var(--textarea-text);

    resize: none;
    width: auto;

    border: 4px inset var(--textarea-border);
    border-radius: 10px;
}

.article .field:focus {
    border-color: var(--textarea-border-sel);
    outline: none;
}

.article .button {
    margin: 0;
    padding: 10px 20px;

    background: var(--button);
    color: var(--button-text);

    border-radius: 25px;
    border: none;

    text-decoration: none;
    font-size: 1.5em;
    transition-duration: 0.25s;
}

.article .button:hover {
    background: var(--button-sel);
}


.card-container {
    margin: 0;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
}

.card-container .card {
    margin: 0;
    padding: 0 15px;

    background: var(--post);
    color: var(--post-text);

    width: 250px;
    height: 300px;
    flex: 1 2 auto;
    border-radius: 25px;
    transition-duration: 0.5s;
    text-decoration: none;
}

.card-container .card:hover {
    box-shadow: #1118 0 5px 10px;
    transform: translateY(-5px);
}

@media screen and (max-width: 650px) {
    .card-container {
        flex-flow: column nowrap;
    }

    .card-container .card {
        width: auto;
    }
}

.button-imp {
    background: var(--button-imp) !important;
    color: var(--button-imp-text) !important;
    font-weight: 700 !important;
}

.button-imp:hover {
    background: var(--button-imp-sel) !important;
}

.page-footer {
    margin: 0;
    padding: 5px 15px;
    margin-top: auto;

    background: var(--footer);
    color: var(--footer-text);

    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
}

@media screen and (max-width: 650px) {
    .page-footer {
        flex-flow: column nowrap;
        align-items: stretch;
    }
}

.page-footer p {
    margin: 0;
    padding: 0;

    font-size: 1.2em;
}
